<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98742104164-he58hp76dvoqe92hl4htse62ar844it4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98742104164-he58hp76dvoqe92hl4htse62ar844it4</string>
	<key>API_KEY</key>
	<string>AIzaSyD6clndgzM4I8GL-CSWds6UVkBUp8WdUKo</string>
	<key>GCM_SENDER_ID</key>
	<string>98742104164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yamolean.try-firebase</string>
	<key>PROJECT_ID</key>
	<string>try-firebase-ab402</string>
	<key>STORAGE_BUCKET</key>
	<string>try-firebase-ab402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98742104164:ios:3a954bec6a0f5bf191ef71</string>
	<key>DATABASE_URL</key>
	<string>https://try-firebase-ab402.firebaseio.com</string>
</dict>
</plist>